<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/globalstyle.css" />
        <title>Created</title>
    </head>
    <body>
        <h1>THIS IS AN ADVERTISE PAGE</h1>
        <button>Become a landlord</button>

        <script>
            const btn = document.querySelector("button");
            btn.addEventListener("click", () => {
                fetch("https://whondo.com/verify/landlord", {
                    method: "POST",
                }).then((res) => {
                    console.log(res.json());
                    if (res.ok) alert(res.message);
                });
            });
        </script>

        <!-- Import Comps -->
        <script
            src="{{ url_for('static', filename='bundle.js') }}"
            type="module"
        ></script>
    </body>
</html>
