<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/globalstyle.css" />
        <title>Created</title>
    </head>
    <body>
        <h1>THIS IS AN ADVERTISE PAGE</h1>
        <a href="/verify/landlord"><button>Become a landlord</button></a>

        <!-- Import Comps -->
        <script
            src="{{ url_for('static', filename='bundle.js') }}"
            type="module"
        ></script>
    </body>
</html>
