<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/globalstyle.css" />
        <title>Create Property</title>
    </head>
    <body>
        <comp-navbar></comp-navbar>
        <comp-create-prop></comp-create-prop>

        <script
            src="{{ url_for('static', filename='bundle.js') }}"
            type="module"
        ></script>
    </body>
</html>
