<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/globalstyle.css" />
        <title>Test Page</title>
    </head>
    <body>
        <!-- Our custom test component will include the card as its child -->
        <test-card-housing></test-card-housing>

        <!-- Import our list of modules, including login.js -->
        <script type="module" src="../../dist/bundle.js"></script>
    </body>
</html>
