<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login to Whondo</h2>
    <input type="text" name="email" id="e" />
    <input type="password" name="password" id="p" />
    <comp-button id="submit_button"></comp-button>

    <p id="result"></p>

    <script type="module" src="../static/js/button.js"></script>


    <script>
        function testFunction() {
            let result = document.getElementById("result");
            result.innerHTML = "EPIC POGGERS";
        }

        const submit_button = document.getElementById("submit_button");
        submit_button.onclick = () => submit_button.debug();
    
    </script>
  </body>
</html>